<h3>Search for a Star Wars Character</h3>

<select ng-model="sc.newSearch.type">
    <option value="people">People</option>
    <option value="planets">Planets</option>
    <option value="films">Films</option>
    <option value="starships">Starships</option>
    <option value="vehicles">Vehicles</option>
    <option value="species">Species</option>
</select>
&nbsp;&nbsp;&nbsp;&nbsp;

<label for="#keywordIn">Search:</label>
<input id="keywordIn" placeholder="Keywords" ng-model="sc.newSearch.keyword">
<button ng-click="sc.searchFor(sc.newSearch)">Search</button>